[workspace]
members = ["monarch-gui", "monarch-helper"]
resolver = "2"

[profile.dev]
incremental = true
lto = false
codegen-units = 256

[profile.release]
incremental = false
lto = true
codegen-units = 1
panic = "abort"
strip = true
