pkgbase = monarch-store
	pkgdesc = Distro-aware software store for Arch, Manjaro, CachyOS (Tauri)
	pkgver = 0.4.6_alpha
	pkgrel = 1
	url = https://github.com/cpg716/monarch-store
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = openssl
	depends = polkit
	depends = pacman-contrib
	depends = git
	optdepends = rate-mirrors: Test Mirrors with latency (Settings → Repositories)
	optdepends = reflector: alternative for Test Mirrors / mirror ranking
	source = https://github.com/cpg716/monarch-store/archive/refs/tags/v0.4.6_alpha.tar.gz
	sha256sums = 19c7d5b9d6ef141fb204a19fdcf5b2f0aa7084c85c7a5683ebf598504381e691

pkgname = monarch-store
