pkgbase = monarch-store
	pkgdesc = A modern, high-performance software store for Arch Linux based distributions.
	pkgver = 0.2.40
	pkgrel = 1
	url = https://github.com/cpg716/monarch-store
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = nodejs
	makedepends = npm
	makedepends = rust
	makedepends = cargo
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = libappindicator-gtk3
	depends = librsvg
	depends = polkit
	depends = git
	depends = pacman-contrib
	depends = openssl
	provides = monarch-store
	conflicts = monarch-store-git
	conflicts = monarch-store-bin
	source = monarch-store-0.2.40.tar.gz::https://github.com/cpg716/monarch-store/archive/v0.2.40.tar.gz
	sha256sums = SKIP

pkgname = monarch-store
