[target.x86_64-unknown-linux-gnu]
# Avoid the 'ring' symbol errors with lld on Linux by using the default GCC linker
linker = "gcc"

[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"
